*{
    margin: 0;
    padding: 0;
}

/*******************
******GLOBAL********
*******************/

html {
    scroll-behavior: smooth;
    height: 100%;
}

::-moz-selection {
    background: #ddd;
    color: rgb(0,0,0);
    text-shadow: none;
}

::selection {
    background: #ddd;
    color: rgb(0,0,0);
    text-shadow: none;
}

/*******************
******HEADER********
*******************/

header {
    width: 100%;
    height: 500px;
    background-color: black;
}

nav {
    position: fixed;
    height: 7%;
    width: 100%;
    background-color: red;
}

#wrapper-nav {
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: blue;
}

/*******************
*******MAIN*********
*******************/

main {
    height: auto;
    width: 90%;
    margin: auto;
    background-color: green;
}

/*******************
******FOOTER********
*******************/

footer {
    width: 100%;
    height: 75px;
    background-color: yellow;
}